<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

{%- if description -%}
  {%- assign _desc = description -%}
{%- else -%}
  {%- assign _desc = siteDefaults.description -%}
{%- endif -%}
<meta name="description" content="{{ _desc }}">

<link rel="stylesheet" href="/assets/main.css?{{ cacheBust.mainCss }}" />

{%- if katex -%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
{%- endif -%}

{% include head/open_graph.html %}
{% include head/favicon.html %}

<title>{{ title }}</title>
